* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

h1 {
  background-color: rgba(51, 124, 172, 0.63);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.content {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 350px;
  font-size: 20px;
  padding: 0px 10px;
  position: relative;
  border: rgba(75, 75, 75, 0.616) dashed 3px;
  border-radius: 8px;
}

.iconbtn {
  font-size: medium;
  padding: 10px 15px;
  background-color: rgba(245, 245, 245, 0);
  border: none;
  border-left: rgba(75, 75, 75, 0.466) solid 2px;
}

input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border-bottom: rgb(236, 225, 195) solid 1.5px;
  background-color: rgba(245, 245, 245, 0);
  width: 500px;
}

.input_btn {
  margin: 10px;
  font-size: 20px;
  background-color: rgba(245, 245, 245, 0);
}

.button {
  margin: 10px 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(245, 245, 245, 0.363);
  background: rgba(245, 245, 245, 0);
  border: rgb(236, 225, 195) solid;
  font-size: 15px;
}

.counter {
  font-size: 20px;
  margin: 25px auto;
}

.done-btn {
  margin: 10px 5px;
  width: 320px;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(245, 245, 245, 0.363);
  background: rgba(245, 245, 245, 0);
  border: rgb(236, 225, 195) solid;
  font-size: 15px;
}

.done-btn::after {
  background: black;
  transition: 0.2s;
}

.done-btn:hover::after {
  transform: scale(0.8);
}
