* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

h1 {
  background-color: rgba(51, 124, 172, 0.63);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.content {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input,
.todos,
.input_btn,
.button,
.done-btn:focus {
  outline: none;
}

.todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 350px;
  font-size: 20px;
  padding: 0px 10px;
  position: relative;
  border: rgba(75, 75, 75, 0.616) solid 3px;
  border-radius: 8px;
  overflow: hidden;
}

.todos::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  height: 100%;
  width: 85%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 0.4s;
}

.todos:hover::before {
  transform: rotate(0);
}

.iconbtn {
  font-size: medium;
  padding: 10px 15px;
  background-color: rgba(245, 245, 245, 0);
  border: none;
  border-left: rgba(75, 75, 75, 0.466) solid 2px;
}

input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border-bottom: rgb(236, 225, 195) solid 1.5px;
  background-color: rgba(245, 245, 245, 0);
  width: 500px;
}

.input_btn {
  margin: 10px;
  font-size: 20px;
  background-color: rgba(245, 245, 245, 0);
  position: relative;
}

.button {
  margin: 10px 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(245, 245, 245, 0.363);
  background: rgba(245, 245, 245, 0);
  border: rgb(236, 225, 195) solid;
  font-size: 15px;
  position: relative;
}

.counter {
  font-size: 20px;
  margin: 25px auto;
}

.done-btn {
  margin: 10px 5px;
  width: 320px;
  height: 30px;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0);
  border: rgb(236, 225, 195) solid;
  font-size: 15px;
  position: relative;
}

.done-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: transform 0.4s;
}

.done-btn:hover::before {
  transform: rotateX(0);
}

.button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: transform 0.8s;
}

.button:hover::before {
  transform: rotateX(0);
}
